* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50% 5%;
}

.parent {
  background-color: rgb(252, 230, 190);
  padding: 5%;
  margin: 10% auto;
  margin-bottom: 0;
  width: 80%;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.child {
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.child p {
  font-size: x-small;
}

footer {
  margin: 0 auto;
  width: 60%;
  font-size: 10px;
  text-align: center;
}
