* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  background-color: rgb(252, 230, 190);
  padding: 5%;
  margin: 0 auto;
  width: 80%;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.child {
  /* background-color: #38cfd9; */
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.child p {
  font-size: smaller;
}

footer {
  margin: 0 auto;
  width: 60%;
}

footer p {
  font-size: x-small;
  text-align: center;
}
